.footer {
    border-top: 1px solid $gray;
    padding-top: 77px;
    padding-bottom: 60px;
    @media (max-width: 350px) {
        padding-top: 38px;
        padding-bottom: 18px;
     }
    .logo {
        width: 179px;
        height: 48px;
        @media (max-width: 1000px) {
            margin-bottom: 30px;
         }
         @media (max-width: 350px) {
            width: 121px;
            margin: 0 auto;
            padding-bottom: 58px;
         }
    }
}

.box-footer {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1000px) {
        flex-direction: column;
        align-items: center;
     }
    &-info {
        @media (max-width: 1000px) {
            margin-right: 45px;
            text-align: center;
            &:last-child {
                margin-right: 0;
            }
         } 
         @media (max-width: 800px) {
            margin-right: 0;
         }
    }
    &-item {
        display: flex;
        justify-content: space-between;
        flex: 0 0 66.4%;
        @media (max-width: 1200px) {
            flex: 0 0 72%;
         }
         @media (max-width: 1000px) {
            align-items: center;
         }
         @media (max-width: 800px) {
            flex-direction: column;
         }
    }
    
}

.box-footer-menu {
    .box-footer-list__item {
        margin-bottom: 1.62rem;
        @media (max-width: 350px) {
            margin-bottom: 1.2rem;
         }
    }
    @media (max-width: 800px) {
        display: flex;
        justify-content: space-between;
        width: 400px;
        @media (max-width: 410px) {
            width: 300px;
         }
         @media (max-width: 350px) {
            width: 238px;
         }
     }
}

.box-footer-list {
    font-size: 1.12rem;
    list-style-type: none;
    @media (max-width: 410px) {
        font-size: 0.9rem;
     }
     @media (max-width: 350px) {
        font-size: 0.75rem;
     }
    &__item {
        margin-bottom: 1.62rem;
        @media (max-width: 350px) {
            margin-bottom: 0.5rem;
            &:last-child {
                margin-bottom: 1.3rem;
            }
         }
    }
    .mobile-footer-phone {
        @media (max-width: 350px) {
            font-size: 1.875rem;
         }
    }
    &__link {
        text-decoration: none;
        color: $gray;
        transition: 0.2s ease;
        @media (max-width: 410px) {
            font-size: 0.9rem;
         }
         @media (max-width: 350px) {
            font-size: 0.75rem;
         }
        &:hover {
            color: $orange;
        }
    }
    &__tel {
        font-size: 1.875rem;
        margin-bottom: 2.06rem;
        @media (max-width: 350px) {
            margin-bottom: 0;
         }
    }

}
.box-footer-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    @media (max-width: 350px) {
        margin-top: 41px;
        max-width: 241px;
        justify-content: space-around;
     }
    &__vk {
        background-image: url(../../../img/vk.svg);
        background-size: 23px 18px;
        &:hover {
            background-color: #5181b8;
            border: 2px solid #5181b8;
        }
    }
    &__inst {
        background-image: url(../../../img/instagram.svg);
        background-size: 18px 18px;
        &:hover {
            border: 2px solid #cc2366;
            background-color: #cc2366; 
        }
    }
    &__fb {
        background-image: url(../../../img/facebook.svg);
        background-size: 23px 18px;
        &:hover {
            background-color: #4267b2;
            border: 2px solid #4267b2;
        }
    }
    &__link {
        width: 48px;
        height: 48px;
        border: 2px solid $gray;
        border-radius: 100%;
        background-repeat: no-repeat;
        display: block;
        background-position: center center;
        opacity: 0.8;
        transition: 0.2s ease;
    }
}

.box-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
     }
     @media (max-width: 350px) {
        margin-top: 27px;
     }
    &__copy {
        opacity: 0.6;
        @media (max-width: 410px) {
            font-size: 0.9rem;
         }
         @media (max-width: 350px) {
            font-size: 0.625rem;
            margin-bottom: 0.2rem;
         }
    }
    &__text {
        color: #a6a8a4;
        position: relative;
        text-align: center;
        @media (max-width: 410px) {
            font-size: 0.9rem;
         }
         @media (max-width: 350px) {
            font-size: 0.625rem;
         }
    }
    &__link {
        text-decoration: none;
        color: $gray;
        opacity: 0.6;
        transition: 0.2s ease;
        &:hover {
            color: $orange;
        }
    }
}